# Eclipse Android project and workspace
# source: https://github.com/github/gitignore
bin/
gen/
target/
proguard/

.settings
*.class
*.dex
*.apk
*.ap_
.metadata
*.keystore
*.swp
*.orig
*.log
seed.txt
map.txt

# IntelliJ IDEA
out/
.idea/
.gradle/
build/
*.db