<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/index.html">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">

      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/index.html">Home</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/news/">News / Releases</a>

      <span>Documentation</span>

      {% assign sorted_doc = (site.doc | sort: 'weight') %}
      <ul>
        {% for p in sorted_doc %}
          {% if p.published != false %}
            <li><a {% if p.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <a class="sidebar-nav-item" href="https://github.com/hevs-isi/gdx2d/releases/download/v1.2.1/gdx2d-1.2.1-students.zip">Download Eclipse project</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}archive/v{{ site.github.latestversion }}.zip">Download latest release</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">Go to the GitHub project</a>
    </nav>

    <p>gdx2d version {{ site.github.latestversion }}</p>
    <p>&copy; {{ site.time | date: '%Y' }}- mui[at]hevs.ch</p>
  </div>
</div>
